:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --main-font-weight: 300;
    --sub-head-font-size: 2rem;

    --tan: #f1ddbf;
    --blue: #525e75;
    --dark-green: #78938a;
    --light-green: #92ba92;
    --dark: #2a2a2a;

    --main-border-radius: 0.9rem;
    --main-box-shadow: 0 0.3rem 2rem 0rem rgba(0, 0, 0, 0.4);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@keyframes heroFlow {
    0% {
        object-position: initial;
    }

    50% {
        object-position: -20px -80px;
    }

    100% {
        object-position: 40px 80px;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}

/* GLOBAL RESET */
html,
body,
main,
h1 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

/* Hero Banner */
.heroContainer {
    height: 40rem;
    width: 100%;
    background-color: var(--blue);
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroFiller {
    height: 3rem;
}

.showCartIcon {
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    margin-left: auto;
    display: block;
}

.showCartIcon:hover {
    cursor: pointer;
}

.heroImg {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 125rem;
    -webkit-mask-image: url("../src/assets/HeroTextMask2.png");
    mask-image: url("../src/assets/HeroTextMask2.png");
    -webkit-mask-size: 120%;
    mask-size: 120%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    animation: heroFlow 18s ease-in-out alternate infinite;
}


/* Cart Modal */
.cartContainer {
    width: 19rem;
    padding: 1rem;
    height: max-content;
    max-height: 80vh;
    overflow: scroll;
    background-color: var(--blue);
    position: fixed;
    top: 0;
    right: 0;
    color: var(--tan);
    box-shadow: var(--main-box-shadow);
    border-radius: var(--main-border-radius);
    z-index: 20;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cartHeader>p {
    margin: 0;
    padding: 0;
    font-size: var(--sub-head-font-size);
}

#cartExitIcon {
    width: 2.5rem;
    padding: 0.5rem;
    border-radius: 20%;
    fill: var(--light-green);
}

#cartExitIcon:hover {
    cursor: pointer;
}

.videoTrashContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trashIcon {
    width: 1.9rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
}

.trashIcon:hover {
    cursor: pointer;
}

.cartVideo {
    width: 13rem;
}

.CVText {
    padding: 0;
    margin: 0.3rem;
    line-height: 1.2rem;
}

.CVPrice {
    margin-bottom: 0.7rem;
}

.total {
    font-size: 1.45rem;
}

#completeOrderBtn {
    width: 8rem;
    height: 4rem;
    padding: 0.5rem;
    display: flex;
    background-color: var(--light-green);
}

#completeOrderBtn>p {
    display: inline-block;
    font-size: 0.9rem;
}



/* Theater View Modal */
.theaterContainer {
    width: 100%;
    background-color: #2a2a2a;
    border-radius: var(--main-border-radius);
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 15;
    pointer-events: auto;
}

.exit {
    width: 45px;
    height: 45px;
    display: block;
    padding: 0.45rem;
    margin-left: auto;
    fill: var(--tan);
}

.exit:hover {
    cursor: pointer;
}

.theaterVidContainer {
    display: flex;
    max-width: 90%;

}

.theaterVideo {
    height: 55vh;
    max-width: 100%;
}

.theaterTitle {
    color: var(--tan);
    font-size: 1.7rem;
    font-weight: var(--main-font-weight);
    padding: 0.7rem 0;
    max-width: 90%;
}


/* Main Page */
.browse {
    height: 150px;
    background-color: var(--dark-green);
    color: var(--tan);
    text-align: center;
    line-height: 150px;
    font-weight: var(--main-font-weight);
    font-size: 55px;
}

/* Recommended Movies */
.recommendedContainer {
    height: 500px;
    background-color: var(--blue);
}

.recHeaderContainer h2 {
    padding: 20px 0 0;
    text-align: center;
    font-size: var(--sub-head-font-size);
    font-weight: var(--main-font-weight);
    color: var(--tan);
}

.spinner {
    width: 17rem;
    height: 17rem;
    padding: 3rem;
    margin: 0 auto;
    animation: spinner 1.4s linear infinite;
}

.recommendedContainer hr {
    width: 100%;
    background-color: var(--dark);
    height: 2px;
}

.recCardContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 70px;
    padding: 20px 20px;
    margin-bottom: 28px;
    overflow: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

/* Videos (paid and free) */
.videoContainer {
    width: 355px;
    height: 271px;
    background-color: var(--tan);
    border-radius: var(--main-border-radius);
    position: relative;
    box-shadow: var(--main-box-shadow);
}

.video {
    width: 355px;
    height: 200px;
    border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
}

.dollar {
    width: 120px;
    height: 140px;
    position: absolute;
    top: 30px;
    left: 120px;
    filter: drop-shadow(0 0 0.6rem white);
}

.hoverElement {
    width: 355px;
    height: 200px;
    box-shadow: 0 0 100px 5px inset black;
    border-radius: var(--main-border-radius);
    position: relative;
    top: -274px;
    fill: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
    z-index: 1;
    pointer-events: none;
}

.videoContainer:hover .hoverElement {
    visibility: visible;
}

.hoverRow {
    display: flex;
    justify-content: space-between;
}

.hoverIconContainer {
    padding: 12px;
    pointer-events: auto;

}

.paidHoverIconCont {
    width: max-content;
    margin-left: auto;
}

.hoverIcon {
    width: 32px;
    height: 32px;
    z-index: 10;
}

.hoverIcon:hover {
    cursor: pointer;
}

.hoverIconContainer:hover {
    cursor: pointer;
}

.duration {
    color: var(--dark-green);
    height: max-content;
    padding: 12px;
    margin: 0;
}

.paidDuration {
    color: var(--dark-green);
    width: 100%;
    text-align: right;
    padding: 0.5rem;
    margin: 0;
}

.videoInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    width: 100%;
    color: var(--dark);
}

.videoInfoFree {
    justify-content: left;
    padding: 0.45rem;
}

.videoTitle {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 280px;
    padding: 0 3px 0 5px;
    overflow: hidden;
    font-size: 1.1rem;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}

.videoPrice {
    margin: 0;
    padding-left: 7px;
    height: 75%;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--dark);
}



/* Gallery Section */

.gallery {
    background-color: var(--blue);
    padding-bottom: 70px;
    background-color: var(--dark-green);
}

.galleryHeadContainer {
    height: max-content;
    min-height: max-content;
    background-color: var(--dark-green);
}

.galleryHeader {
    padding: 40px 1rem;
    height: max-content;
    min-height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 3rem;
    color: var(--tan);
    font-weight: var(--main-font-weight);
}

.filterContainer {
    padding: 2rem;
    box-shadow: var(--main-box-shadow);
    border-radius: var(--main-border-radius);
    color: var(--tan);
    display: flex;
    gap: 1.5rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.longInputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lengthLabel {
    margin-left: 0.4rem;
}

.filterContainer>input {
    background-color: var(--dark-green);
    border: 0;
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.inputContainer {
    display: flex;
    gap: 0.2rem;
}

.lengthInput {
    width: 6rem;
}

.shortInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.exitFilterIcon {
    padding: 0.5rem;
    width: 2.5rem;
    padding: 0.5rem;
    border-radius: 20%;
    fill: var(--light-green);
    margin-left: auto;
}

.exitFilterIcon:hover {
    cursor: pointer;
}

.sortContainer {
    padding: 2rem;
    border: 2px solid black;
}

.sortDropdown {
    width: 6rem;
    height: 2rem;
    background-color: var(--dark-green);
    border: 0;
    border-radius: 0.4rem;
    padding: 0.2rem;
}

.galleryMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 35px 10px;
    width: calc(100% - 100px);
    margin: 0 auto;
    background-color: var(--blue);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
}

.filterSortBox {
    width: 100%;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.filterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--dark-green);
}

.filterBtn:hover {
    cursor: pointer;
}

.filterIcon {
    width: 1.35rem;
    height: 1.35rem;
}


/* Footer */
footer {
    height: 80px;
    background-color: var(--blue);
}

footer p {
    text-align: center;
    line-height: 80px;
    font-size: 1.15rem;
    color: var(--tan);
    margin: 0;
}




/* Responsive Design adjustments */

/* Hero banner */
@media screen and (max-width: 1000px) {
    .heroContainer {
        height: 32rem;
    }
}

@media screen and (max-width: 600px) {
    .heroContainer {
        height: 32rem;
    }
}

@media screen and (max-width: 500px) {
    .heroContainer {
        height: 24rem;
    }
}


/* Gallery */
@media screen and (max-width: 500px) {
    .galleryMain {
        width: calc(100% - 40px);
    }

    .filterSortBox {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 430px) {
    .filterSortBox {
        padding: 0 1rem;
    }
}


/* Videos/Gallery */
@media screen and (max-width: 400px) {
    .galleryMain {
        width: 100%;
    }

    .videoContainer {
        width: 300px;
        height: 244px;
    }

    .video {
        width: 300px;
        height: 169px;
    }

    .videoPrice {
        margin-right: 0.4rem;
    }

    .hoverElement {
        width: 300px;
        height: 170px;
        top: -240px;
    }

    .dollar {
        top: 15px;
        left: 95px;
    }
}